In [156]:
import pandas as pd
import datetime

In [157]:
data_df = pd.read_csv('CityBike/202011-citibike-tripdata.csv')
data_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,521,2020-11-01 00:00:07.0150,2020-11-01 00:08:48.3010,3467,W Broadway & Spring St,40.724947,-74.001659,350,Clinton St & Grand St,40.715595,-73.987030,40405,Subscriber,1989,1
1,492,2020-11-01 00:00:10.8080,2020-11-01 00:08:23.3170,3557,40 Ave & 9 St,40.757420,-73.945133,3557,40 Ave & 9 St,40.757420,-73.945133,46504,Subscriber,1970,2
2,1979,2020-11-01 00:00:14.7040,2020-11-01 00:33:14.1640,3085,Roebling St & N 4 St,40.714690,-73.957390,3854,Morgan Ave & Maspeth Ave,40.716657,-73.936370,37452,Subscriber,1989,2
3,2382,2020-11-01 00:00:14.7070,2020-11-01 00:39:57.0030,3783,Cliff St & Fulton St,40.708380,-74.004950,3167,Amsterdam Ave & W 73 St,40.779668,-73.980930,40417,Subscriber,1981,1
4,166,2020-11-01 00:00:15.9690,2020-11-01 00:03:02.8980,422,W 59 St & 10 Ave,40.770513,-73.988038,3175,W 70 St & Amsterdam Ave,40.777480,-73.982886,35776,Subscriber,1990,1

In [74]:
data_df.dtypes

Trip Duration                int64
Start Time                  object
Stop Time                   object
Start Station ID             int64
Start Station Name          object
Start Station Latitude     float64
Start Station Longitude    float64
End Station ID               int64
End Station Name            object
End Station Latitude       float64
End Station Longitude      float64
Bike ID                      int64
User Type                   object
Birth Year                 float64
Gender                       int64
dtype: object

In [106]:
data_df['start station id'].nunique()

329

In [107]:
data_df['end station id'].nunique()

329

In [108]:
station_df = data_df.loc[:, ['end station id', 'end station name', 'end station latitude', 'end station longitude']]
station_df.head()

,end station id,end station name,end station latitude,end station longitude
0,476,E 31 St & 3 Ave,40.743943,-73.979661
1,223,W 13 St & 7 Ave,40.737815,-73.999947
2,291,Madison St & Montgomery St,40.713126,-73.984844
3,447,8 Ave & W 52 St,40.763707,-73.985162
4,296,Division St & Bowery,40.714131,-73.997047

In [89]:
station_df.columns = map(str.lower, station_df.columns)
station_df.head()

,end station id,end station name,end station latitude,end station longitude
0,228,E 48 St & 3 Ave,40.754601,-73.971879
1,3358,Garfield Pl & 8 Ave,40.671198,-73.974841
2,345,W 13 St & 6 Ave,40.736494,-73.997044
3,358,Christopher St & Greenwich St,40.732916,-74.007114
4,279,Peck Slip & Front St,40.707873,-74.001670

In [109]:
station_df = station_df.drop_duplicates('end station id', keep='first')
station_df.count()

end station id           329
end station name         329
end station latitude     329
end station longitude    329
dtype: int64

In [110]:
station_df.to_csv('stations_201312.csv', index = False)

In [136]:
data_df = pd.read_csv('Stations/stations_201312.csv')
data_df.head()

,end station id,end station name,end station latitude,end station longitude
0,476,E 31 St & 3 Ave,40.743943,-73.979661
1,223,W 13 St & 7 Ave,40.737815,-73.999947
2,291,Madison St & Montgomery St,40.713126,-73.984844
3,447,8 Ave & W 52 St,40.763707,-73.985162
4,296,Division St & Bowery,40.714131,-73.997047

In [137]:
data_df['year'] = '2013'
data_df.head()

,end station id,end station name,end station latitude,end station longitude,year
0,476,E 31 St & 3 Ave,40.743943,-73.979661,2013
1,223,W 13 St & 7 Ave,40.737815,-73.999947,2013
2,291,Madison St & Montgomery St,40.713126,-73.984844,2013
3,447,8 Ave & W 52 St,40.763707,-73.985162,2013
4,296,Division St & Bowery,40.714131,-73.997047,2013

In [138]:
data_df.to_csv('Stations/stations_201312.csv', index = False)

In [147]:
data_df = pd.read_csv('CityBike/202012-citibike-tripdata.csv')
data_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,694,2020-12-01 00:00:03.7770,2020-12-01 00:11:38.3160,4065,Wadsworth Ave & W 179 St,40.848467,-73.936064,3959,Edgecombe Ave & W 145 St,40.823498,-73.943860,49454,Customer,1988,2
1,4131,2020-12-01 00:00:09.1730,2020-12-01 01:09:00.2370,3284,E 88 St & Park Ave,40.781411,-73.955959,3147,E 85 St & 3 Ave,40.778012,-73.954071,49524,Subscriber,1988,1
2,1368,2020-12-01 00:00:28.7470,2020-12-01 00:23:16.9980,3443,W 52 St & 6 Ave,40.761330,-73.979820,3563,28 St & 36 Ave,40.757186,-73.932719,34312,Subscriber,1977,2
3,1707,2020-12-01 00:00:34.7680,2020-12-01 00:29:02.6470,72,W 52 St & 11 Ave,40.767272,-73.993929,3336,E 97 St & Madison Ave,40.787801,-73.953559,45491,Subscriber,1982,0
4,2182,2020-12-01 00:00:36.4030,2020-12-01 00:36:59.0330,3165,Central Park West & W 72 St,40.775794,-73.976206,3952,E 141 St & Jackson Ave,40.806896,-73.911837,16558,Customer,1997,1

In [155]:
data_df['stoptime'].dt.day

AttributeError: Can only use .dt accessor with datetimelike values

In [158]:
pd.to_datetime(data_df['stoptime'], format = '%Y-%m-%d %H:%M:%S.%f')

0         2020-11-01 00:08:48.301
1         2020-11-01 00:08:23.317
2         2020-11-01 00:33:14.164
3         2020-11-01 00:39:57.003
4         2020-11-01 00:03:02.898
                    ...
1736699   2020-12-01 00:03:01.947
1736700   2020-12-01 00:09:02.830
1736701   2020-12-01 00:00:41.957
1736702   2020-12-01 00:06:09.754
1736703   2020-12-01 00:04:49.226
Name: stoptime, Length: 1736704, dtype: datetime64[ns]

In [171]:
# date_df = data_df.loc[datetime.date(year=2020,month=12,day=17)]
# date_df = (data_df['starttime'] >= '2020-12-17')
date_df = data_df['starttime'].dt.date.astype(str).contains('2017-03-20')
date_df

AttributeError: Can only use .dt accessor with datetimelike values

In [148]:
new_df = data_df['stoptime'].str.contains('2020-12-17')
new_df()

TypeError: 'Series' object is not callable

In [190]:
data13_df = pd.read_csv('Stations/stations_201312.csv')
data13_df = data13_df.sort_values('end station id')
data13_df.head()

,end station id,end station name,end station latitude,end station longitude,year
146,72,W 52 St & 11 Ave,40.767272,-73.993929,2013
188,79,Franklin St & W Broadway,40.719116,-74.006667,2013
219,82,St James Pl & Pearl St,40.711174,-74.000165,2013
145,83,Atlantic Ave & Fort Greene Pl,40.683826,-73.976323,2013
169,116,W 17 St & 8 Ave,40.741776,-74.001497,2013

In [191]:
data14_df = pd.read_csv('Stations/stations_201412.csv')
data15_df = pd.read_csv('Stations/stations_201512.csv')
data16_df = pd.read_csv('Stations/stations_201612.csv')
data17_df = pd.read_csv('Stations/stations_201712.csv')
data18_df = pd.read_csv('Stations/stations_201812.csv')
data19_df = pd.read_csv('Stations/stations_201912.csv')
data20_df = pd.read_csv('Stations/stations_202012.csv')

In [192]:
stations_df = pd.merge(data13_df, data14_df, how='outer')
stations_df = stations_df.drop_duplicates('end station id', keep='first')

In [193]:
stations_df = stations_df.sort_values('end station id')

In [194]:
stations_df = pd.merge(stations_df, data15_df, how='outer')
stations_df = stations_df.drop_duplicates('end station id', keep='first')

In [195]:
stations_df = stations_df.sort_values('end station id')

In [197]:
stations_df = pd.merge(stations_df, data16_df, how='outer')
stations_df = stations_df.drop_duplicates('end station id', keep='first')
stations_df = stations_df.sort_values('end station id')

In [198]:
stations_df = pd.merge(stations_df, data17_df, how='outer')
stations_df = stations_df.drop_duplicates('end station id', keep='first')
stations_df = stations_df.sort_values('end station id')

In [199]:
stations_df = pd.merge(stations_df, data18_df, how='outer')
stations_df = stations_df.drop_duplicates('end station id', keep='first')
stations_df = stations_df.sort_values('end station id')

In [200]:
stations_df = pd.merge(stations_df, data19_df, how='outer')
stations_df = stations_df.drop_duplicates('end station id', keep='first')
stations_df = stations_df.sort_values('end station id')

In [201]:
stations_df = pd.merge(stations_df, data20_df, how='outer')
stations_df = stations_df.drop_duplicates('end station id', keep='first')
stations_df = stations_df.sort_values('end station id')

In [203]:
stations_df.to_csv('Stations/stations_2013_2020.csv', index = False)

In [202]:
stations_df['year'].unique()

array([2013, 2015, 2014, 2016, 2018, 2017, 2019, 2020])

In [218]:
data11_df = pd.read_csv('CityBike/202011-citibike-tripdata.csv')
data12_df = pd.read_csv('CityBike/202012-citibike-tripdata.csv')

In [ ]:
data11_df['gender'] = data11_df['gender'].astype(str)
data11_df['gender'].replace(str(0), 'unknown')
data11_df['gender'].replace(str(1), 'male')
data11_df['gender'].replace(str(2), 'female')

In [224]:

data11_df = data12_df.replace({'gender': 0}, 'unknown')

In [214]:
data11_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,521,2020-11-01 00:00:07.0150,2020-11-01 00:08:48.3010,3467,W Broadway & Spring St,40.724947,-74.001659,350,Clinton St & Grand St,40.715595,-73.987030,40405,Subscriber,1989,1
1,492,2020-11-01 00:00:10.8080,2020-11-01 00:08:23.3170,3557,40 Ave & 9 St,40.757420,-73.945133,3557,40 Ave & 9 St,40.757420,-73.945133,46504,Subscriber,1970,2
2,1979,2020-11-01 00:00:14.7040,2020-11-01 00:33:14.1640,3085,Roebling St & N 4 St,40.714690,-73.957390,3854,Morgan Ave & Maspeth Ave,40.716657,-73.936370,37452,Subscriber,1989,2
3,2382,2020-11-01 00:00:14.7070,2020-11-01 00:39:57.0030,3783,Cliff St & Fulton St,40.708380,-74.004950,3167,Amsterdam Ave & W 73 St,40.779668,-73.980930,40417,Subscriber,1981,1
4,166,2020-11-01 00:00:15.9690,2020-11-01 00:03:02.8980,422,W 59 St & 10 Ave,40.770513,-73.988038,3175,W 70 St & Amsterdam Ave,40.777480,-73.982886,35776,Subscriber,1990,1

In [225]:
data11_df = data11_df.replace({'gender': 1}, 'male')

In [226]:
data11_df = data11_df.replace({'gender': 2}, 'female')

In [227]:
data11_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,694,2020-12-01 00:00:03.7770,2020-12-01 00:11:38.3160,4065,Wadsworth Ave & W 179 St,40.848467,-73.936064,3959,Edgecombe Ave & W 145 St,40.823498,-73.943860,49454,Customer,1988,female
1,4131,2020-12-01 00:00:09.1730,2020-12-01 01:09:00.2370,3284,E 88 St & Park Ave,40.781411,-73.955959,3147,E 85 St & 3 Ave,40.778012,-73.954071,49524,Subscriber,1988,male
2,1368,2020-12-01 00:00:28.7470,2020-12-01 00:23:16.9980,3443,W 52 St & 6 Ave,40.761330,-73.979820,3563,28 St & 36 Ave,40.757186,-73.932719,34312,Subscriber,1977,female
3,1707,2020-12-01 00:00:34.7680,2020-12-01 00:29:02.6470,72,W 52 St & 11 Ave,40.767272,-73.993929,3336,E 97 St & Madison Ave,40.787801,-73.953559,45491,Subscriber,1982,unknown
4,2182,2020-12-01 00:00:36.4030,2020-12-01 00:36:59.0330,3165,Central Park West & W 72 St,40.775794,-73.976206,3952,E 141 St & Jackson Ave,40.806896,-73.911837,16558,Customer,1997,male

In [228]:
data11_df.to_csv('CityBike/202012-citibike-tripdata.csv', index = False)

In [229]:
data11_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1088929 entries, 0 to 1088928
Data columns (total 15 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   tripduration             1088929 non-null  int64
 1   starttime                1088929 non-null  object
 2   stoptime                 1088929 non-null  object
 3   start station id         1088929 non-null  int64
 4   start station name       1088929 non-null  object
 5   start station latitude   1088929 non-null  float64
 6   start station longitude  1088929 non-null  float64
 7   end station id           1088929 non-null  int64
 8   end station name         1088929 non-null  object
 9   end station latitude     1088929 non-null  float64
 10  end station longitude    1088929 non-null  float64
 11  bikeid                   1088929 non-null  int64
 12  usertype                 1088929 non-null  object
 13  birth year               1088929 non-null  int64
 14  gender                   1088929 non-null  object
dtypes: float64(4), int64(5), object(6)
memory usage: 124.6+ MB

In [230]:
data11_df['gender'] = data11_df['gender'].astype(str)
data11_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1088929 entries, 0 to 1088928
Data columns (total 15 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   tripduration             1088929 non-null  int64
 1   starttime                1088929 non-null  object
 2   stoptime                 1088929 non-null  object
 3   start station id         1088929 non-null  int64
 4   start station name       1088929 non-null  object
 5   start station latitude   1088929 non-null  float64
 6   start station longitude  1088929 non-null  float64
 7   end station id           1088929 non-null  int64
 8   end station name         1088929 non-null  object
 9   end station latitude     1088929 non-null  float64
 10  end station longitude    1088929 non-null  float64
 11  bikeid                   1088929 non-null  int64
 12  usertype                 1088929 non-null  object
 13  birth year               1088929 non-null  int64
 14  gender                   1088929 non-null  object
dtypes: float64(4), int64(5), object(6)
memory usage: 124.6+ MB

In [231]:
data11_df['birth year'].unique()

array([1988, 1977, 1982, 1997, 1969, 1983, 1992, 1999, 1998, 1957, 1971,
       1976, 1968, 1995, 1966, 1981, 1979, 1989, 1970, 1996, 1978, 1994,
       1984, 1990, 1963, 1960, 2000, 1972, 2001, 1951, 1993, 1980, 1949,
       1965, 1991, 2002, 1986, 1974, 1953, 1959, 1987, 1967, 1973, 1961,
       1950, 1931, 1975, 1962, 1985, 1958, 1942, 1952, 1955, 1946, 1956,
       1948, 1945, 1964, 1954, 1941, 1938, 1943, 1947, 2003, 1944, 1936,
       1900, 2004, 1939, 1940, 1912, 1895, 1928, 1934, 1935, 1932, 1888,
       1937, 1933, 1930, 1890, 1922, 1918, 1897, 1911, 1899, 1924, 1920,
       1921, 1919, 1893, 1885, 1929, 1923, 1896, 1913, 1917, 1891, 1901,
       1889, 1915])

In [232]:
data_1969_df = data11_df.loc[data11_df['birth year'] == 1969, :]
data_1969_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
5,654,2020-12-01 00:00:39.6560,2020-12-01 00:11:34.2950,3808,24 St & 41 Ave,40.752474,-73.939991,3619,Newtown Ave & 23 St,40.771361,-73.924615,43964,Customer,1969,unknown
19,417,2020-12-01 00:02:16.0800,2020-12-01 00:09:13.6320,3338,2 Ave & E 99 St,40.786259,-73.945526,3671,E 81 St & 2 Ave,40.774779,-73.954275,48600,Customer,1969,unknown
23,535,2020-12-01 00:02:53.9910,2020-12-01 00:11:49.0250,3501,E 118 St & Madison Ave,40.801487,-73.944251,3323,W 106 St & Central Park West,40.798186,-73.960591,40260,Customer,1969,unknown
34,699,2020-12-01 00:04:06.2630,2020-12-01 00:15:45.9490,3949,Brook Ave & E 138 St,40.807408,-73.919240,3501,E 118 St & Madison Ave,40.801487,-73.944251,48154,Customer,1969,unknown
38,350,2020-12-01 00:04:34.3670,2020-12-01 00:10:24.8360,3774,Knickerbocker Ave & George St,40.704425,-73.928360,3066,Tompkins Ave & Hopkins St,40.699576,-73.947084,47715,Customer,1969,unknown

In [238]:
data_1969_df.count()

tripduration               98789
starttime                  98789
stoptime                   98789
start station id           98789
start station name         98789
start station latitude     98789
start station longitude    98789
end station id             98789
end station name           98789
end station latitude       98789
end station longitude      98789
bikeid                     98789
usertype                   98789
birth year                 98789
gender                     98789
dtype: int64

In [233]:
data_1969_df.to_csv('CityBike/202012-1969.csv', index = False)

In [264]:
data_df = pd.read_csv('CityBike/202012-citibike-tripdata.csv')
data_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,694,2020-12-01 00:00:03.7770,2020-12-01 00:11:38.3160,4065,Wadsworth Ave & W 179 St,40.848467,-73.936064,3959,Edgecombe Ave & W 145 St,40.823498,-73.943860,49454,Customer,1988,female
1,4131,2020-12-01 00:00:09.1730,2020-12-01 01:09:00.2370,3284,E 88 St & Park Ave,40.781411,-73.955959,3147,E 85 St & 3 Ave,40.778012,-73.954071,49524,Subscriber,1988,male
2,1368,2020-12-01 00:00:28.7470,2020-12-01 00:23:16.9980,3443,W 52 St & 6 Ave,40.761330,-73.979820,3563,28 St & 36 Ave,40.757186,-73.932719,34312,Subscriber,1977,female
3,1707,2020-12-01 00:00:34.7680,2020-12-01 00:29:02.6470,72,W 52 St & 11 Ave,40.767272,-73.993929,3336,E 97 St & Madison Ave,40.787801,-73.953559,45491,Subscriber,1982,unknown
4,2182,2020-12-01 00:00:36.4030,2020-12-01 00:36:59.0330,3165,Central Park West & W 72 St,40.775794,-73.976206,3952,E 141 St & Jackson Ave,40.806896,-73.911837,16558,Customer,1997,male

In [265]:
data_df.count()

tripduration               1088929
starttime                  1088929
stoptime                   1088929
start station id           1088929
start station name         1088929
start station latitude     1088929
start station longitude    1088929
end station id             1088929
end station name           1088929
end station latitude       1088929
end station longitude      1088929
bikeid                     1088929
usertype                   1088929
birth year                 1088929
gender                     1088929
dtype: int64

In [266]:
data_df['trip_min'] = data_df['tripduration'] / 60
data_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,trip_min
0,694,2020-12-01 00:00:03.7770,2020-12-01 00:11:38.3160,4065,Wadsworth Ave & W 179 St,40.848467,-73.936064,3959,Edgecombe Ave & W 145 St,40.823498,-73.943860,49454,Customer,1988,female,11.566667
1,4131,2020-12-01 00:00:09.1730,2020-12-01 01:09:00.2370,3284,E 88 St & Park Ave,40.781411,-73.955959,3147,E 85 St & 3 Ave,40.778012,-73.954071,49524,Subscriber,1988,male,68.850000
2,1368,2020-12-01 00:00:28.7470,2020-12-01 00:23:16.9980,3443,W 52 St & 6 Ave,40.761330,-73.979820,3563,28 St & 36 Ave,40.757186,-73.932719,34312,Subscriber,1977,female,22.800000
3,1707,2020-12-01 00:00:34.7680,2020-12-01 00:29:02.6470,72,W 52 St & 11 Ave,40.767272,-73.993929,3336,E 97 St & Madison Ave,40.787801,-73.953559,45491,Subscriber,1982,unknown,28.450000
4,2182,2020-12-01 00:00:36.4030,2020-12-01 00:36:59.0330,3165,Central Park West & W 72 St,40.775794,-73.976206,3952,E 141 St & Jackson Ave,40.806896,-73.911837,16558,Customer,1997,male,36.366667

In [267]:
data_df['trip_min'].max()

44793.21666666667

In [268]:
data_11_hour_df = data_df.loc[data_df['trip_min'] <= 60]
data_11_hour_df.count()

tripduration               1077568
starttime                  1077568
stoptime                   1077568
start station id           1077568
start station name         1077568
start station latitude     1077568
start station longitude    1077568
end station id             1077568
end station name           1077568
end station latitude       1077568
end station longitude      1077568
bikeid                     1077568
usertype                   1077568
birth year                 1077568
gender                     1077568
trip_min                   1077568
dtype: int64

In [269]:
data_11_hour_df = data_11_hour_df.loc[data_11_hour_df['birth year'] >= 1930]
data_11_hour_df.count()

tripduration               1076814
starttime                  1076814
stoptime                   1076814
start station id           1076814
start station name         1076814
start station latitude     1076814
start station longitude    1076814
end station id             1076814
end station name           1076814
end station latitude       1076814
end station longitude      1076814
bikeid                     1076814
usertype                   1076814
birth year                 1076814
gender                     1076814
trip_min                   1076814
dtype: int64

In [270]:
data_11_hour_df.to_csv('CityBike/202012-citibike-tripdata.csv', index = False)